@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;500&family=Moon+Dance&family=Playfair+Display:ital,wght@0,400;0,500;1,600;1,700&family=Roboto&family=Roboto+Slab&family=Rubik+Mono+One&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: "Cairo", sans-serif;
  }
  a {
    text-decoration: none;
    color: #0d0d0d;
  }

  header{
      width: 100%;
      height: 100vh;
      background-size: cover;
     background-position: center;
  }
  .navbar{
    display: none;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.7s ease-in-out;
  }
  nav #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    color: #f5f5f5;
  }
  nav img {
    width: 60px;
    border-radius: 50%;
    
  }
  nav .nav_links {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 65px;
    font-size: 20px;
}
  
  nav .nav_links a {
    position: relative;
    color: #f5f5f5;
  }
  nav .nav_links a::before{
    content:'';
    position: absolute;
    left: 0;
    bottom:0;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, transparent, #d9141d);
    transform: scale(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav .nav_links a:hover:before{
    transform: scale(1);
    transform-origin: left;
}
  nav .nav_icons,
  .times{
      display: none;
  }
 

  
  

  
  .front-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-align: center;
    width: 100%;
  }
  
  .front-text h1 {
    font-size: 2em;
    color: #fff;
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
    -webkit-text-stroke-color: #fff;
    color: transparent;
    -webkit-text-stroke-width: 0.125rem;
    text-transform: uppercase;
    opacity: 0;
    animation: slidebottom 2s ease forwards;
    transition-delay: 3s;
  }
  
  .front-text p {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    color: #ddd;
    text-transform: uppercase;
    margin-bottom: 1rem;
   
  }
  .front-text img{
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100%;
    background-color: #262b32;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }
  .about-us{
    width: 100%;
    padding-top: 6.25rem;
    background-color: #222222;
  }
  .about-us-section{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }
  .about-us-section h1{
    margin-bottom: 20px;
    text-transform: uppercase;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    -webkit-text-stroke-width: 0.125rem;
    font-weight: 700;
    position: relative;
  }
  .about-us-section h1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    display: block;
    margin: 0 auto;
    background-color: #3214d9;
  }
  .about-us-section p{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
  }
  .container{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    opacity: 0;
    animation: slidebottom 2s ease forwards;
    transition-delay: 3s;
  }
    .about{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
  }
  .about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
  }
  .about-image img{
    max-width: 90%;
    height: auto;
    display: block;
    transition: 0.5s ease;
  }
  .about-image:hover img{
    transform: scale(1.2);
  }
  .about-content{
    flex: 1;
    font-family: 'Bebas Neue', sans-serif;
  }
  .about-content h1{
    color: #14d91b;
    padding-top: 16px;
    font-size: 23px;
    margin-bottom: 15px;
    font-weight:900;
  }
  .about-content p{
    padding-right: 18px;
    line-height: 1.5;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
    text-decoration: none;
    color: #fff;
    background-color: #14d91b;
    border-radius: 25px;
    margin-top: 18px;
    transition: 0.3s ease;
  }
  .about-content .read-more:hover{
    background-color: #d9141d;
  }
/* MOBILE VERSION */
@media only screen and (max-width: 680px) {
   #nav{
    display: none;
   }
   .front-text{
     padding-inline: 0.625rem;
      
   }
  
  .front-text img{
    display: block;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .about-us{
    width: 100%;
    padding-top: 6.25rem;
    background-color: #fff;
 
  }
  .about-us-section{
    padding: 0px 20px;
    
  }
  .about-us-section h1{
    font-size: 36px;
    -webkit-text-stroke-color:#0d0d0d;
    color: transparent;
    -webkit-text-stroke-width: 0.125rem;
  }
  .about-us-section p{
    font-size: 17px;
    margin-bottom: 0px;
    color: #0d0d0d;
  }
  .container{
    padding: 0px;
  }
  .about{
    padding: 20px;
    flex-direction: column;
  }
  .about-image{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content p{
    padding: 0px;
    font-size: 16px;
    color: #0d0d0d;
  }

}

@keyframes slidetop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        opacity: 1;
    }
}
@keyframes slidebottom{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        opacity: 1;
    }
}