* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

header::after {
  content: '';
  background: url('public/assets/p_paint-border-light.png') no-repeat;
  background-position: center 0;
  background-size: cover;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 142px;
  z-index: 99998;
}
.navbar {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.875rem 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 300;
  transition: 0.7s ease-in-out;
  color: #f5f5f5;
}
#nav.scrolled {
  background-color: #343a40;
  color: #fff;
}
nav #logo {
  line-height: 12px;
  display: flex;
  gap: 0.625rem;
}

nav #logo h3 {
  align-self: center;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
}

nav .nav-links {
  font-size: 1rem;
}

nav .nav-links a {
  position: relative;
  margin-left: 1.875rem;
}
nav .nav-links a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, transparent, #d9141d);
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav .nav-links a:hover:before {
  transform: scale(1);
  transform-origin: left;
}
nav .nav_icons,
.times {
  display: none;
}

.mobile-menu-btn {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}

.swiper-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  padding-inline: 2.5rem;
  justify-content: space-between;
  z-index: 200;
  color: #fff;
  font-size: 1.25rem;
}

.swiper-nav a {
  color: #fff;
  position: static;
  font-size: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.front-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
  width: 100%;
}

.front-text h1 {
  color: #fff;
  text-transform: uppercase;
  animation: slidebottom 2s ease forwards;
  transition-delay: 3s;
  font-size: 2.8125rem;
  font-weight: 900;
}

.front-text p {
  font-size: 1.5rem;
  color: #ddd;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 800;
}
.front-text img {
  display: none;
}
.swiper {
  width: 100%;
  height: 100%;
  background-color: #262b32;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.header-cta-buttons {
  margin-top: 4.0625rem;
}

.header-cta-buttons > a {
  background-color: #fff;
  font-size: 0.9375rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding: 1.25rem 2.5rem;
  color: rgb(68, 68, 68);
  border: 0.125rem solid #fff;
  font-weight: 600;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 67.3906px 25px;
}

.header-cta-buttons .cta-btn-filled:hover {
  background-color: transparent;
  color: #fff;
}

.header-cta-buttons .cta-btn-outlined {
  margin-left: 0.625rem;
  background-color: transparent;
  color: #fff;
}

.header-cta-buttons .cta-btn-outlined:hover {
  background-color: #fff;
  color: rgb(68, 68, 68);
}
.about-us {
  width: 100%;
  padding-top: 6.25rem;
  background-color: #f3f3f3;
}
.about-us-section {
  text-align: left;
  padding-inline: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us-section h2 {
  text-transform: uppercase;
  font-family: 'Permanent Marker';
  color: #8b0000;
  font-size: 2rem;
}

.about-us-section .lower-heading {
  font-weight: 900;
  font-size: 3.125rem;
  color: #353535;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
}

.about-us-section p {
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
  line-height: 1.5556em;
  letter-spacing: 0.5px;
  color: #333333;
}

.about-us-section .about-image {
  max-width: 50%;
  flex: 0 0 50%;
  overflow: hidden;
}

.about-us-section .about-image img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.about-us-section > div {
  max-width: 45%;
  flex: 0 0 45%;
}

.container {
  width: 90%;
  margin: 0 auto;
  color: #111111;
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-image:hover img {
  transform: scale(1.2);
}
.about-content {
  flex: 1;
}
.about-content h1 {
  color: #080808;
  padding-top: 16px;
  font-size: 30px;
  margin-bottom: 15px;
  font-family: 'Rubik Moonrocks', sans-serif;
  font-weight: 500;
}
.about-content ul li {
  font-weight: 600;
  list-style-type: none;
  font-family: 'Playfair Display', serif;
  padding-top: 10px;
  text-transform: uppercase;
}
.about-content ul li i {
  padding-right: 5px;
}
.about-content ul p {
  text-transform: capitalize;
  padding-top: 15px;
  padding-right: 25px;
  line-height: 1.5;
  font-size: 1.125rem;
  text-transform: lowercase;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}
.about-content .read-more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
  background-color: #14d91b;
  border-radius: 25px;
  margin-top: 18px;
  transition: 0.3s ease;
}
.about-content .read-more:hover {
  background-color: #d9141d;
}
.services {
  width: 100%;
  padding-top: 6.25rem;
  background-color: #070707;
}
.services-section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.services-section h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  -webkit-text-stroke-width: 0.125rem;
  font-weight: 700;
  position: relative;
}
.services-section h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  margin: 0 auto;
  background-color: #14d914;
}

/*TABLET VERSION*/
@media only screen and (max-width: 950px) {
  #nav {
    padding-inline: 2.5rem;
  }

  #nav #logo h3 {
    font-size: 1.5rem;
  }

  .swiper-nav {
    top: 40%;
  }

  nav .nav-links a {
    margin-left: 1.25rem;
    font-size: 0.875rem;
  }
}
/* MOBILE VERSION */
@media only screen and (max-width: 680px) {
  #nav {
    padding: 1.25rem 1.25rem;
    flex-direction: column;
  }

  #nav.active {
    height: 100vh;
    background-color: #343a40;
  }

  #nav #logo h3 {
    font-size: 1.5rem;
  }

  #nav #logo img {
    width: 2.5rem;
    height: 1.875rem;
  }
  #nav .nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.25rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    flex: 0.7;
    display: none;
  }

  #nav.active .nav-links {
    display: flex;
  }

  #nav .nav-links a {
    font-size: 1.5rem;
  }

  .mobile-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .mobile-menu-btn {
    display: block;
    font-size: 2rem;
  }


  .bar {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11.5px);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11.5px);
  }

  .swiper-nav {
    top: 25%;
  }

  .front-text {
    padding-inline: 0.625rem;
    top: 35%;
  }

  .front-text h1 {
    font-size: 1.75rem;
  }

  .front-text p {
    font-size: 1.125rem;
  }

  .header-cta-buttons > a {
    display: block;
  }

  .header-cta-buttons .cta-btn-outlined {
    margin: 0;
    margin-top: 0.9375rem;
  }

  .about-us-section {
    padding: 0px 20px;
    flex-direction: column;
    gap: 2.1875rem;
  }

  .about-us-section > div {
    flex: 1;
    max-width: 100%;
  }

  .about-us-section > .about-image {
    flex: 1;
    max-width: 100%;
  }
  .container {
    padding: 0px;
  }
  .about {
    padding: 20px;
    flex-direction: column;
  }
  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content h1 {
    color: #fff;
  }
  .about-content ul p {
    padding: 0px;
    font-size: 16px;
    color: #fff;
  }
  .about-content ul li {
    font-weight: 400;
  }
  .about-content ul i,
  li {
    padding-right: 3px;
    color: #fff;
  }
}

@keyframes slidetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slidebottom {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
