* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: 'Space Grotesk', sans-serif;
}

header::after {
  content: '';
  background: url('public/assets/p_paint-border-light.png') no-repeat;
  background-position: center 0;
  background-size: cover;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 142px;
  z-index: 300;
}
.navbar {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.875rem 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 400;
  transition: 0.7s ease-in-out;
  color: #f5f5f5;
}
#nav.scrolled {
  background-color: #22272d;
  color: #fff;
}
nav #logo {
  line-height: 12px;
  display: flex;
  gap: 0.625rem;
  font-family: 'Poppins', sans-serif;
}

nav #logo h3 {
  align-self: center;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
}

nav .nav-links {
  font-size: 1rem;
}

nav .nav-links a {
  position: relative;
  margin-left: 1.875rem;
}
nav .nav-links a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, transparent, #d9141d);
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav .nav-links a:hover:before {
  transform: scale(1);
  transform-origin: left;
}
nav .nav_icons,
.times {
  display: none;
}

.mobile-menu-btn {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}

.swiper-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  padding-inline: 2.5rem;
  justify-content: space-between;
  z-index: 200;
  color: #fff;
  font-size: 1.25rem;
}

.swiper-nav a {
  color: #fff;
  position: static;
  font-size: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.front-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
  width: 100%;
}

.front-text h1 {
  color: #fff;
  text-transform: uppercase;
  animation: slidebottom 2s ease forwards;
  transition-delay: 3s;
  font-size: 2.8125rem;
  font-weight: 900;
}

.front-text p {
  font-size: 1.5rem;
  color: #ddd;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 800;
}
.front-text img {
  display: none;
}
.swiper {
  width: 100%;
  height: 100%;
  background-color: #262b32;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.header-cta-buttons {
  margin-top: 4.0625rem;
}

.header-cta-buttons > a {
  background-color: #fff;
  font-size: 0.9375rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding: 1.25rem 2.5rem;
  color: rgb(68, 68, 68);
  border: 0.125rem solid #fff;
  font-weight: 600;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 67.3906px 25px;
}

.header-cta-buttons .cta-btn-filled:hover {
  background-color: transparent;
  color: #fff;
}

.header-cta-buttons .cta-btn-outlined {
  margin-left: 0.625rem;
  background-color: transparent;
  color: #fff;
}

.header-cta-buttons .cta-btn-outlined:hover {
  background-color: #fff;
  color: rgb(68, 68, 68);
}
.about-us {
  width: 100%;
  padding-block: 6.25rem;
  background-color: #f3f3f3;
}
.about-us-section {
  text-align: left;
  padding-inline: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us-section h2 {
  text-transform: uppercase;
  font-family: 'Permanent Marker';
  color: #111111;
  font-size: 2rem;
}

.about-us-section .lower-heading {
  font-weight: 900;
  font-size: 3.125rem;
  color: #fff;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6);
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=343a40);
}

.about-us-section p {
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
  line-height: 1.5556em;
  letter-spacing: 0.5px;
  color: #333333;
}

.about-us-section .about-image {
  max-width: 50%;
  flex: 0 0 50%;
  overflow: hidden;
  height: 18.75rem;
}

.about-us-section .about-image img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  object-fit: cover;
}

.about-us-section > div {
  max-width: 45%;
  flex: 0 0 45%;
}

.container {
  width: 90%;
  margin: 0 auto;
  color: #111111;
}

.about-cta-btn {
  background-color: #111111;
  font-size: 0.9375rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding: 1.25rem 2.5rem;
  color: #fff;
  font-weight: 600;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 67.3906px 25px;
  display: block;
  width: fit-content;
  margin-top: 2.1875rem;
  text-align: center;
  border: 2px solid #111111;
}

.about-cta-btn:hover {
  color: #111111;
  background-color: transparent;
  border: 2px solid #343a40;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-image:hover img {
  transform: scale(1.2);
}

.services {
  width: 100%;
  padding-inline: 3.125rem;
  position: relative;
  padding-block: 6.25rem;
  background-color: #212121;
}

.services .text-overlay {
  background: url('public/assets/liquifer.png');
  background-size: cover;
  background-position: center center;
  opacity: 0.05;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.services-section {
  text-align: center;
}
.services-section h2 {
  text-transform: uppercase;
  font-family: 'Permanent Marker';
  color: #fff;
  font-size: 2rem;
}

.services-section .lower-heading {
  font-weight: 900;
  font-size: 3.125rem;
  color: #343a40;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 1.25rem;
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fff);
}

.services-content-wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 2.1875rem;
  gap: 0.9375rem;
  flex-wrap: wrap;
}
.services-content-wrapper > div {
  max-width: 33%;
  flex: 0.333333%;
}

.services-content-wrapper i {
  font-size: 2rem;
  color: #ddd;
}

.services-content {
  background-color: #343a40;
  padding: 1.25rem;
}

.services-content-wrapper h2,
.services-content-wrapper p {
  margin-top: 0.9375rem;
  font-family: 'Kanit', sans-serif;
}

.services-content-wrapper h2 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 1.875rem;
}

.services-content-wrapper p {
  line-height: 1.5556em;
  color: #ddd;
}

.services-cta-btn {
  background-color: #111111;
  font-size: 0.9375rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding: 1.25rem 2.5rem;
  color: #ddd;
  font-weight: 600;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 67.3906px 25px;
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: 2.1875rem;
  text-align: center;
  border: 2px solid #111111;
}

.services-cta-btn:hover {
  background-color: transparent;
  border-color: #343a40;
}

section.contact-us {
  position: relative;
  background-color: #111111;
  padding: 6.25rem 3.125rem;
}

section.contact-us::after {
  content: '';
  background: url('public/assets/p_paint-border-light.png') no-repeat;
  background-position: center 0;
  background-size: cover;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 142px;
  z-index: 300;
  left: 0;
}

section.contact-us > div > * {
  max-width: 50%;
  flex: 0 0 50%;
}

section.contact-us > div > h2 {
  text-transform: uppercase;
  font-family: 'Permanent Marker';
  color: #fff;
  font-size: 2rem;
}

section.contact-us > div > .lower-heading {
  font-weight: 900;
  font-size: 3.125rem;
  color: #343a40;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 1.25rem;
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fff);
}

section.contact-us > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  align-items: center;
}

section.contact-us > div > form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

section.contact-us > div > form > .extra-form-info {
  font-size: 1rem;
  font-family: 'Permanent Marker', sans-serif;
  color: #ddd;
  max-width: 100%;
  flex: 0 0 100%;
  padding-bottom: 0.625rem;
}

section.contact-us > div > form > div > input,
section.contact-us > div > form > div > textarea {
  font-size: 1rem;
  background-color: #212121;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 1rem;
  width: 100%;
  color: #dee2e6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

section.contact-us > div > form > div > input:focus,
section.contact-us > div > form > div > textarea:focus {
  border-color: #bebcbc;
}

section.contact-us > div > form > div {
  max-width: 50%;
  flex: 0 0 50%;
  padding-inline: 0.9375rem;
  margin-bottom: 0.9375rem;
}

section.contact-us > div > form > .message-textarea-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
}

section.contact-us > div > form > .message-btn-wrapper {
  max-width: 100%;
  flex: 0 0 100%;
}

section.contact-us > div > form > .message-btn-wrapper > button {
  padding: 0.9375rem 1.875rem;
  border: none;
  color: #111111;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

section.contact-us > div > form > .message-btn-wrapper > button:hover {
  cursor: pointer;
  color: #343a40;
}

section.contact-us > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

section.contact-us > div > div {
  color: #fff;
  background-color: #111111;
  padding: 1.25rem 0.9375rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-family: 'Kanit', sans-serif;
}

section.contact-us > div > div > .contact-us-content > div {
  margin-bottom: 0.9375rem;
}

section.contact-us > div > div > .contact-us-content > div > h3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #dfdfdf;
  font-weight: 800;
}

section.contact-us > div > div > h2 {
  font-family: 'Permanent Marker', sans-serif;
  text-transform: uppercase;
  font-family: 'Permanent Marker';
  font-size: 2rem;
}

section.contact-us > div > div > .lower-heading {
  font-weight: 900;
  font-size: 3.125rem;
  color: #343a40;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 1.25rem;
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fff);
}

section.blog-preview {
  padding: 6.25rem 3.125rem;
  background-color: #f3f3f3;
}

section.blog-preview > h2 {
  font-family: 'Permanent Marker', sans-serif;
  text-transform: uppercase;
  font-family: 'Permanent Marker';
  font-size: 2rem;
}

section.blog-preview > .lower-heading {
  font-weight: 900;
  font-size: 3.125rem;
  color: #fff;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  width: fit-content;
  padding-inline: 1.25rem;
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=343a40);
}

section.blog-preview > .blog-content-wrapper {
  display: flex;
  margin-top: 2.1875rem;
  justify-content: space-between;
  gap: 1.25rem;
}

section.blog-preview > .blog-content-wrapper > div {
  flex: 0 0 33%;
  max-width: 33%;
  background-color: #111111;
  color: #ddd;
}

section.blog-preview > .blog-content-wrapper > div > .blog-content-text > h3 {
  font-size: 0.9375rem;
  margin-bottom: 0.9375rem;
  color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

section.blog-preview > .blog-content-wrapper > div > .blog-content-text {
  padding: 0.9375rem;
  padding-bottom: 1.5625rem;
}

section.blog-preview > .blog-content-wrapper > div > .blog-content-text > p {
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
}

section.blog-preview > .blog-content-wrapper > div > .blog-content-text > a {
  display: block;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  padding: 0.9375rem 1.875rem;
  background-color: #212121;
  color: #fff;
  width: fit-content;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #fff;
}

section.blog-preview > .blog-content-wrapper > div > img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}

.contact-us-cta-btn {
  display: block;
  margin-top: 2.1875rem;
  padding: 0.9375rem 1.875rem;
  background-color: #111111;
  color: #fff;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-us-cta-btn:hover {
  color: #ddd;
}
/*TABLET VERSION*/
@media only screen and (max-width: 950px) {
  #nav {
    padding-inline: 2.5rem;
  }

  #nav #logo h3 {
    font-size: 1.5rem;
  }

  .swiper-nav {
    top: 40%;
  }

  nav .nav-links a {
    margin-left: 1.25rem;
    font-size: 0.875rem;
  }

  .about-us-section .about-image {
    height: auto;
  }

  .services-content-wrapper {
    flex-direction: column;
  }

  .services-content-wrapper > div {
    max-width: 100%;
    flex: 1;
  }

  section.contact-us > div {
    flex-direction: column;
    gap: 2.1875rem;
  }

  section.contact-us > div > * {
    max-width: 100%;
    flex: 0 0 100%;
  }

  section.blog-preview > .blog-content-wrapper {
    flex-direction: column;
  }
  section.blog-preview > .blog-content-wrapper > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* MOBILE VERSION */
@media only screen and (max-width: 680px) {
  #nav {
    padding: 1.25rem 1.25rem;
    flex-direction: column;
  }

  #nav.active {
    height: 100vh;
    background-color: #22272d;
  }

  #nav #logo h3 {
    font-size: 1.5rem;
  }

  #nav #logo img {
    width: 2.5rem;
    height: 1.875rem;
  }
  #nav .nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.25rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    flex: 0.7;
    display: none;
  }

  #nav.active .nav-links {
    display: flex;
  }

  #nav .nav-links a {
    font-size: 1.5rem;
  }

  .mobile-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .mobile-menu-btn {
    display: block;
    font-size: 2rem;
  }

  .bar {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11.5px);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11.5px);
  }

  .swiper-nav {
    top: 25%;
    display: none;
  }

  .front-text {
    padding-inline: 0.625rem;
    top: 35%;
  }

  .front-text h1 {
    font-size: 1.75rem;
  }

  .front-text p {
    font-size: 1.125rem;
  }

  .header-cta-buttons > a {
    display: block;
  }

  .header-cta-buttons .cta-btn-outlined {
    margin: 0;
    margin-top: 0.9375rem;
  }

  .about-us-section {
    padding: 0px 20px;
    flex-direction: column;
    gap: 3.125rem;
  }

  .about-us-section > div {
    flex: 1;
    max-width: 100%;
  }

  .about-us-section > .about-image {
    flex: 1;
    max-width: 100%;
  }
  .container {
    padding: 0px;
  }
  .about {
    padding: 20px;
    flex-direction: column;
  }
  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content h1 {
    color: #fff;
  }
  .about-content ul p {
    padding: 0px;
    font-size: 16px;
    color: #fff;
  }

  .about-content ul li {
    font-weight: 400;
  }
  .about-content ul i,
  li {
    padding-right: 3px;
    color: #fff;
  }

  .services {
    padding-inline: 1.25rem;
  }

  .about-cta-btn {
    margin-top: 0.9375rem;
  }

  .services-section h2,
  .services-section p {
    text-align: left;
  }

  .services-cta-btn {
    margin-inline: 0;
  }

  section.contact-us {
    padding-inline: 1.25rem;
  }

  section.blog-preview {
    padding-inline: 1.25rem;
  }
}

/*SMALLER PHONES */
@media screen and (max-width: 320px) {
  header::after {
    display: none;
  }
}

/* PHONES ON LANDSCAPE MODE */
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  header {
    height: 50rem;
  }
}

@keyframes slidetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slidebottom {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
