section.discography {
  background-color: #343a40;
  padding: 6.25rem 3.125rem;
  color: #fff;
}

section.discography > h1 {
  text-transform: uppercase;
  font-family: 'Permanent Marker';
  font-size: 2rem;
  text-align: center;
}

section.discography > p {
  font-weight: 900;
  font-size: 3.125rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=212121);
  text-align: center;
}

section.discography > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.125rem;
}

section.discography > div > div {
  max-width: 33%;
  flex: 0 0 33%;
  padding-inline: 0.625rem;
}

section.discography > div > div > a > img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}

section.discography > div > div > a > p {
  font-size: 0.8125rem;
  color: #ddd;
}
section.discography > div > div > a > h2 {
  margin-top: 0.1875rem;
}

footer {
  background-color: #212121;
  padding: 6.25rem 3.125rem;
  padding-bottom: 1.25rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  flex-wrap: wrap;
}

footer > div {
  max-width: 33%;
  flex: 0 0 33%;
}

footer > div > h2 {
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}

footer > div > p {
  font-size: 0.875rem;
}

footer > div > a {
  font-size: 0.875rem;
  display: block;
  margin-bottom: 0.625rem;
}

footer > .social-icons-links > div {
  display: flex;
  gap: 0.625rem;
  align-items: flex-start;
}

footer > .social-icons-links > div > .social-icons-link {
  padding: 0.625rem 0.9375rem;
  border: 1px solid #ddd;
  width: fit-content;
  display: inline-block;
}

/*TABLET VERSION*/
@media only screen and (max-width: 950px) {
  section.discography > div {
    gap: 2.1875rem;
    justify-content: center;
  }

  section.discography > div > div {
    max-width: 50%;
    flex: 0 0 50%;
    padding-inline: 0;
  }

  footer {
    padding-inline: 1.25rem;
    gap: 1.875rem;
  }

  footer > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* MOBILE VERSION */
@media only screen and (max-width: 680px) {
  section.discography {
    padding-inline: 1.25rem;
  }

  section.discography > div > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* PHONES ON LANDSCAPE MODE */
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  header {
    height: 50rem;
  }
}
